.rtl {
	.tm-timeline {
		&.style-01 {
			.timeline-feature {
				> .inner {
					text-align: left;
				}
			}

			.timeline-info {
				> .inner {
					float: left;
				}
			}

			.item {
				&:nth-child(odd) {
					.timeline-feature {
						> .inner {
							text-align: right;
							float: left;
						}
					}

					.timeline-info {
						> .inner {
							float: right;
						}
						.content-wrap {
							text-align: left;
						}
					}
				}
			}
		}
	}
}
