.rtl {
	.tm-box-icon {
		&.style-02,
		&.style-03,
		&.style-04 {
			.icon {
				margin-left: 10px;
				margin-right: 0;
			}
		}

		&.style-05 {
			.icon {
				right: auto;
				left: -10px;
			}
		}
	}
}
