.rtl {
	.tm-button {
		&.style-flat {
			&.icon-left {
				.button-icon {
					margin-right: 0;
					margin-left: 10px;
				}
			}

			&.icon-right {
				.button-icon {
					margin-right: 10px;
					margin-left: 0;
				}
			}
		}

		&.style-image-text {
			&.icon-right {
				img {
					margin-right: 0;
					margin-left: 10px;
				}
			}

			&.icon-left {
				img {
					margin-right: 10px;
					margin-left: 0;
				}
			}
		}
	}
}
