.rtl {
	.tm-popup-video {
		&.style-button-02 {
			.video-text {
				margin-left: 0;
				margin-right: 60px;
			}
		}

		&.style-button-03 {
			.video-text {
				margin-left: 0;
				margin-right: 35px;
			}
		}

		&.style-button-04 {
			.video-text {
				margin-left: 0;
				margin-right: 10px;
			}
		}

		&.style-button-05 {
			.video-text {
				margin-left: 0;
				margin-right: 23px;
			}
		}
	}
}
