.rtl {
	.tm-blog {
		.post-author {
			img {
				margin-right: 0;
				margin-left: 6px;
			}
		}

		.meta-icon {
			margin-right: 0;
			margin-left: 7px;
		}

		.post-read-more.style-link a:after {
			margin-left: 0;
			margin-right: 6px;
			content: '\f177';
		}

		&.style-list-small-image-02 {
			.post-feature {
				margin-right: 0;
				margin-left: 29px;
			}

			.grid-item {
				border-left: 0;
				border-right: 1px solid #ededed;
				padding: 20px 30px 20px 0;
			}
		}
	}
}
