.rtl {
	.tm-problem-solution {
		.problem {
			padding-left: 0;
			padding-right: 32px;

			&:before {
				left: auto;
				right: 0;
			}
		}

		.solution {
			padding-left: 0;
			padding-right: 32px;

			&:before {
				left: auto;
				right: 0;
			}
		}
	}
}
