.tm-drop-cap {
	margin-bottom: 70px;

	&.style-01 {
		.drop-cap {
			float: left;
			font-weight: 600;
			font-size: 48px;
			line-height: 33px;
			padding-right: 10px;
		}
	}

	&.style-02 {
		font-size: 32px;
		font-weight: 600;
		line-height: 1.875;

		.drop-cap {
			float: left;
			font-size: 56px;
			line-height: 60px;
			padding-right: 7px;
		}
	}
}
