.tm-list-selection {
	&.style-01 {
		select {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAhUlEQVQ4je3TsRGDQAxE0T0H1EAlFMC4AoYC3BExBbgCCiEgciFEBJ/AMBycTxAwJFjKpNXL5BA6ox6nKHeB0EuoOnSFcqG3UOLNpoaOb9XIaHgCPTAA2Tz3AynwMbE1Uvq7bTCOGUgIxbAd5DcUYs0eEodCzERsaMFaoDBzQg79n/YqaATlxFE06bOnsgAAAABJRU5ErkJggg==');
			color: #fff;
			font-weight: 500;
			padding: 3px 30px;
			height: 60px;
		}
	}
}
