.tm-button-group {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: -10px;

	> div {
		padding: 10px;
	}

	.tm-button {
		display: block;
	}
}
