.rtl {
	&.woocommerce-checkout {
		.checkout_coupon {
			.form-row {
				float: right !important;

				&.form-row-first {
					padding-left: 10px;
					padding-right: 0;
				}

				&.form-row-last {
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}

		.shop_table {
			th, td {
				text-align: right;
			}
		}
	}
}
