.rtl {
	.mini-cart {
		.widget_shopping_cart_content {
			left: 0;
			right: auto;
		}

		.cart_list.product_list_widget {
			li {
				.remove {
					float: left;
				}

				img {
					float: right !important;
				}
			}
		}
	}

	.cart_list.product_list_widget li img {
		float: right !important;
	}

	.widget_shopping_cart_content .total .amount {
		float: left;
	}
}
