.rtl {
	.product_list_widget {
		li {
			img {
				margin-left: 20px;
				margin-right: 0;
			}
		}
	}

	.woocommerce-widget-layered-nav-list {
		a {
			padding: 16px 0 16px 30px;
		}

		.count {
			right: auto;
			left: 0;
		}
	}
}
