.rtl {
	.switcher-language-wrapper {
		.wpml-ls {
			.wpml-ls-item-toggle {
				&:after {
					left: 0;
					right: auto;
				}

				.wpml-ls-flag {
					+ span {
						margin-left: 5px;
						margin-right: 15px;
					}
				}
			}
		}
	}

	.header-search-form {
		.search-field {
			padding-left: 50px;
			padding-right: 20px;
		}
		.search-submit {
			right: auto;
			left: 0;
		}
	}
}
