*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* firefox font smoothing css */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  background: #ffff00;
  color: #000000;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 18px;
}

input[type='search'] {
  box-sizing: inherit;
}

.rtl .col-xs-pull-0 {
  left: auto;
}

.rtl .col-xs-pull-1 {
  right: auto;
  left: 8.33333%;
}

.rtl .col-xs-pull-2 {
  right: auto;
  left: 16.66667%;
}

.rtl .col-xs-pull-3 {
  right: auto;
  left: 25%;
}

.rtl .col-xs-pull-4 {
  right: auto;
  left: 33.33333%;
}

.rtl .col-xs-pull-5 {
  right: auto;
  left: 41.66667%;
}

.rtl .col-xs-pull-6 {
  right: auto;
  left: 50%;
}

.rtl .col-xs-pull-7 {
  right: auto;
  left: 58.33333%;
}

.rtl .col-xs-pull-8 {
  right: auto;
  left: 66.66667%;
}

.rtl .col-xs-pull-9 {
  right: auto;
  left: 75%;
}

.rtl .col-xs-pull-10 {
  right: auto;
  left: 83.33333%;
}

.rtl .col-xs-pull-11 {
  right: auto;
  left: 91.66667%;
}

.rtl .col-xs-pull-12 {
  right: auto;
  left: 100%;
}

.rtl .col-xs-push-0 {
  right: auto;
}

.rtl .col-xs-push-1 {
  left: auto;
  right: 8.33333%;
}

.rtl .col-xs-push-2 {
  left: auto;
  right: 16.66667%;
}

.rtl .col-xs-push-3 {
  left: auto;
  right: 25%;
}

.rtl .col-xs-push-4 {
  left: auto;
  right: 33.33333%;
}

.rtl .col-xs-push-5 {
  left: auto;
  right: 41.66667%;
}

.rtl .col-xs-push-6 {
  left: auto;
  right: 50%;
}

.rtl .col-xs-push-7 {
  left: auto;
  right: 58.33333%;
}

.rtl .col-xs-push-8 {
  left: auto;
  right: 66.66667%;
}

.rtl .col-xs-push-9 {
  left: auto;
  right: 75%;
}

.rtl .col-xs-push-10 {
  left: auto;
  right: 83.33333%;
}

.rtl .col-xs-push-11 {
  left: auto;
  right: 91.66667%;
}

.rtl .col-xs-push-12 {
  left: auto;
  right: 100%;
}

@media (min-width: 544px) {
  .rtl .col-sm-pull-0 {
    left: auto;
  }
  .rtl .col-sm-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .rtl .col-sm-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .rtl .col-sm-pull-3 {
    right: auto;
    left: 25%;
  }
  .rtl .col-sm-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .rtl .col-sm-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .rtl .col-sm-pull-6 {
    right: auto;
    left: 50%;
  }
  .rtl .col-sm-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .rtl .col-sm-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .rtl .col-sm-pull-9 {
    right: auto;
    left: 75%;
  }
  .rtl .col-sm-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .rtl .col-sm-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .rtl .col-sm-pull-12 {
    right: auto;
    left: 100%;
  }
  .rtl .col-sm-push-0 {
    right: auto;
  }
  .rtl .col-sm-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .rtl .col-sm-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .rtl .col-sm-push-3 {
    left: auto;
    right: 25%;
  }
  .rtl .col-sm-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .rtl .col-sm-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .rtl .col-sm-push-6 {
    left: auto;
    right: 50%;
  }
  .rtl .col-sm-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .rtl .col-sm-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .rtl .col-sm-push-9 {
    left: auto;
    right: 75%;
  }
  .rtl .col-sm-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .rtl .col-sm-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .rtl .col-sm-push-12 {
    left: auto;
    right: 100%;
  }
}

@media (min-width: 768px) {
  .rtl .col-md-pull-0 {
    right: auto;
  }
  .rtl .col-md-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .rtl .col-md-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .rtl .col-md-pull-3 {
    right: auto;
    left: 25%;
  }
  .rtl .col-md-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .rtl .col-md-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .rtl .col-md-pull-6 {
    right: auto;
    left: 50%;
  }
  .rtl .col-md-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .rtl .col-md-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .rtl .col-md-pull-9 {
    right: auto;
    left: 75%;
  }
  .rtl .col-md-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .rtl .col-md-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .rtl .col-md-pull-12 {
    right: auto;
    left: 100%;
  }
  .rtl .col-md-push-0 {
    right: auto;
  }
  .rtl .col-md-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .rtl .col-md-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .rtl .col-md-push-3 {
    left: auto;
    right: 25%;
  }
  .rtl .col-md-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .rtl .col-md-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .rtl .col-md-push-6 {
    left: auto;
    right: 50%;
  }
  .rtl .col-md-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .rtl .col-md-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .rtl .col-md-push-9 {
    left: auto;
    right: 75%;
  }
  .rtl .col-md-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .rtl .col-md-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .rtl .col-md-push-12 {
    left: auto;
    right: 100%;
  }
}

@media (min-width: 992px) {
  .rtl .col-lg-pull-0 {
    right: auto;
    left: auto;
  }
  .rtl .col-lg-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .rtl .col-lg-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .rtl .col-lg-pull-3 {
    right: auto;
    left: 25%;
  }
  .rtl .col-lg-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .rtl .col-lg-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .rtl .col-lg-pull-6 {
    right: auto;
    left: 50%;
  }
  .rtl .col-lg-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .rtl .col-lg-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .rtl .col-lg-pull-9 {
    right: auto;
    left: 75%;
  }
  .rtl .col-lg-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .rtl .col-lg-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .rtl .col-lg-pull-12 {
    right: auto;
    left: 100%;
  }
  .rtl .col-lg-push-0 {
    left: auto;
  }
  .rtl .col-lg-push-1 {
    left: 8.33333%;
  }
  .rtl .col-lg-push-2 {
    left: 16.66667%;
  }
  .rtl .col-lg-push-3 {
    left: 25%;
  }
  .rtl .col-lg-push-4 {
    left: 33.33333%;
  }
  .rtl .col-lg-push-5 {
    left: 41.66667%;
  }
  .rtl .col-lg-push-6 {
    left: 50%;
  }
  .rtl .col-lg-push-7 {
    left: 58.33333%;
  }
  .rtl .col-lg-push-8 {
    left: 66.66667%;
  }
  .rtl .col-lg-push-9 {
    left: 75%;
  }
  .rtl .col-lg-push-10 {
    left: 83.33333%;
  }
  .rtl .col-lg-push-11 {
    left: 91.66667%;
  }
  .rtl .col-lg-push-12 {
    left: 100%;
  }
}

@media (min-width: 1200px) {
  .rtl .col-xl-pull-0 {
    right: auto;
    left: auto;
  }
  .rtl .col-xl-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .rtl .col-xl-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .rtl .col-xl-pull-3 {
    right: auto;
    left: 25%;
  }
  .rtl .col-xl-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .rtl .col-xl-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .rtl .col-xl-pull-6 {
    right: auto;
    left: 50%;
  }
  .rtl .col-xl-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .rtl .col-xl-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .rtl .col-xl-pull-9 {
    right: auto;
    left: 75%;
  }
  .rtl .col-xl-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .rtl .col-xl-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .rtl .col-xl-pull-12 {
    right: auto;
    left: 100%;
  }
  .rtl .col-xl-push-0 {
    right: auto;
  }
  .rtl .col-xl-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .rtl .col-xl-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .rtl .col-xl-push-3 {
    left: auto;
    right: 25%;
  }
  .rtl .col-xl-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .rtl .col-xl-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .rtl .col-xl-push-6 {
    left: auto;
    right: 50%;
  }
  .rtl .col-xl-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .rtl .col-xl-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .rtl .col-xl-push-9 {
    left: auto;
    right: 75%;
  }
  .rtl .col-xl-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .rtl .col-xl-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .rtl .col-xl-push-12 {
    left: auto;
    right: 100%;
  }
}

.rtl .col-xs-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.rtl .col-xs-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 544px) {
  .rtl .col-sm-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .rtl .col-sm-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) {
  .rtl .col-md-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .rtl .col-md-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) {
  .rtl .col-lg-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .rtl .col-lg-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.rtl .row-xs-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rtl .row-xs-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.rtl .row-xs-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rtl blockquote,
.rtl q {
  quotes: "" "";
}

.rtl blockquote:before, .rtl blockquote:after,
.rtl q:before,
.rtl q:after {
  content: "";
}

.rtl blockquote {
  margin: 50px 70px 44px 150px !important;
  padding: 2px 20px 2px 0;
  border-left: 0;
  border-right: 4px solid #eee;
}

.rtl .switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle:after {
  left: 0;
  right: auto;
}

.rtl .switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle .wpml-ls-flag + span {
  margin-left: 5px;
  margin-right: 15px;
}

.rtl .header-search-form .search-field {
  padding-left: 50px;
  padding-right: 20px;
}

.rtl .header-search-form .search-submit {
  right: auto;
  left: 0;
}

.rtl .header-01 .search-form {
  border-left: 0;
  border-right: 1px solid #eee;
  margin-right: 0;
  margin-left: -15px;
}

.rtl .header-04 .header-info .info-item {
  padding-left: 0;
  padding-right: 19px;
}

.rtl .header-04 .header-info .swiper-slide-active ~ .swiper-slide .info-item {
  border-left: 0;
  border-right: 1px solid #ededed;
}

.rtl .header-04 .header-search-form .search-field {
  padding-left: 50px;
  padding-right: 20px;
}

.rtl .header-04 .search-submit {
  left: 0;
  right: auto;
}

.rtl .header-04 .menu--primary .menu__container > li:first-child > a {
  padding-right: 0 !important;
}

.rtl .header-04 .menu--primary .menu__container > li:first-child > a .menu-item-wrap {
  padding-right: 0 !important;
}

.rtl.desktop-menu .header-04 .menu--primary {
  text-align: right;
}

.rtl .header-05 .header-info .info-item {
  padding-left: 0;
  padding-right: 19px;
}

.rtl .header-05 .header-info .swiper-slide-active ~ .swiper-slide .info-item {
  border-left: 0;
  border-right: 1px solid #ededed;
}

.rtl .header-05 .header-search-form .search-field {
  padding-left: 50px;
  padding-right: 20px;
}

.rtl .header-05 .search-submit {
  left: 0;
  right: auto;
}

.rtl .header-05 .menu--primary .menu__container > li:first-child > a {
  padding-right: 0 !important;
}

.rtl .header-05 .menu--primary .menu__container > li:first-child > a .menu-item-wrap {
  padding-right: 0 !important;
}

.rtl.desktop-menu .header-05 .menu--primary {
  text-align: right;
}

.rtl .top-bar-info .info-item {
  margin-right: 0;
  margin-left: 15px;
}

.rtl .top-bar-info .info-item:last-child {
  margin-left: 0;
}

.rtl .top-bar-info .info-icon {
  margin-right: 0;
  margin-left: 5px;
}

.rtl .top-bar-user .avatar img {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .top-bar-04 .top-bar-right > div ~ div:before,
.rtl .top-bar-04 .top-bar-right ul ~ div:before {
  left: auto;
  right: 0;
}

.rtl .page-top-bar .switcher-language-wrapper .wpml-ls .wpml-ls-item-toggle {
  padding-left: 10px;
  padding-right: 0;
}

.rtl .insight_core_breadcrumb li + li {
  padding-left: 0;
  padding-right: 32px;
}

.rtl .insight_core_breadcrumb li + li:before {
  content: "\\";
  left: auto;
  right: 10px;
}

.rtl.desktop-menu .toggle-sub-menu {
  margin-left: 0;
  margin-right: 15px;
}

.rtl.desktop-menu .toggle-sub-menu:before {
  right: auto;
  left: 0;
}

.rtl.desktop-menu .sm, .rtl.desktop-menu .sm ul, .rtl.desktop-menu .sm li {
  text-align: right;
  direction: rtl;
}

.rtl .page-search-popup .search-field {
  padding: 15px 0 15px 50px;
}

.rtl .comment-list .children {
  margin: 40px 30px 20px 0;
}

.rtl .comment-list .comment-author {
  float: right;
}

.rtl .comment-list .comment-content {
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 120px;
}

.rtl .comment-list .comment-datetime {
  margin-right: 0;
  margin-left: 6px;
}

@media (max-width: 1199px) {
  .rtl .comment-list .children,
  .rtl .comment-list .children .children {
    padding-left: 0;
    padding-right: 20px;
  }
  .rtl .comment-list .comment-content {
    margin-left: 0;
    margin-right: 80px;
  }
}

.rtl .page-sidebar-right .page-sidebar-inner {
  padding-left: 0;
}

.rtl .page-sidebar-left .page-sidebar-inner {
  padding-right: 0;
}

.rtl .page-sidebar.wpb_widgetised_column {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .rtl .page-sidebar.wpb_widgetised_column.page-sidebar-left {
    padding-left: 20px;
    padding-right: 0;
  }
  .rtl .page-sidebar.wpb_widgetised_column.page-sidebar-right {
    padding-right: 20px;
    padding-left: 0;
  }
}

.rtl .insight-core-bmw ul,
.rtl .widget_nav_menu ul,
.rtl .widget_pages ul,
.rtl .widget_categories ul,
.rtl .widget_product_categories ul {
  margin-right: 10px;
  margin-left: 0;
}

.rtl .widget_archive li a,
.rtl .widget_categories li a,
.rtl .widget_product_categories li a {
  padding: 16px 0 16px 40px;
}

.rtl .widget_archive .count,
.rtl .widget_categories .count,
.rtl .widget_product_categories .count {
  right: auto;
  left: 0;
  padding: 5px 11px;
}

.rtl .widget_recent_comments .comment-author-link {
  padding-left: 0;
  padding-right: 24px;
}

.rtl .widget_recent_comments .comment-author-link:before {
  left: auto;
  right: 0;
}

.rtl .widget_recent_entries li a {
  padding: 16px 30px 16px 0;
}

.rtl .widget_recent_entries li a:before, .rtl .widget_recent_entries li a:after {
  left: auto;
  right: 0;
}

.rtl .widget_recent_entries .post-date {
  padding-left: 0;
  padding-right: 25px;
}

.rtl .widget_recent_entries .post-date:before {
  left: auto;
  right: 0;
}

.rtl .widget_rss .rss-date {
  padding-left: 0;
  padding-right: 24px;
}

.rtl .widget_rss .rss-date:before {
  left: auto;
  right: 0;
}

.rtl select {
  background: #f5f5f5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAELY03+AAAABGdBTUEAALGPC/xhBQAAAFFJREFUCB1tTsERwCAIC9MyhnQMprUJPTw9mweGmACWmQFggGSSQCT02lLUCaayAuTubrcNeNr5TaRAZyhd6A1q2hnkQ8IPKl3G/tyPoHaMfwHyzSNHeemKDAAAAABJRU5ErkJggg==") no-repeat center left 20px;
}

.rtl .widget_search .search-field,
.rtl .widget_product_search .search-field {
  padding-right: 20px;
  padding-left: 72px;
}

.rtl .widget_search .search-submit,
.rtl .widget_product_search .search-submit {
  border-radius: 5px 0 0 5px;
  right: auto;
  left: 0;
}

.rtl .widget .tagcloud a {
  float: right;
}

.rtl .entry-post-share .share-label {
  margin-right: 0;
  margin-left: 8px;
}

.rtl.single-post .entry-author-meta img {
  margin-right: 0;
  margin-left: 6px;
}

.rtl.single-post .meta-icon {
  margin-right: 0;
  margin-left: 7px;
}

.rtl.single-post .entry-post-tags .tagcloud-icon {
  margin-right: 0;
  margin-left: 6px;
}

.rtl.single-post .blog-nav-links .prev h6 {
  padding-left: 20px;
  padding-right: 50px;
}

.rtl.single-post .blog-nav-links .prev h6:before {
  left: auto;
  right: 20px;
  content: '\f105';
}

.rtl.single-post .blog-nav-links .next {
  text-align: left;
}

.rtl.single-post .blog-nav-links .next h6 {
  padding-left: 50px;
  padding-right: 20px;
}

.rtl.single-post .blog-nav-links .next h6:before {
  right: auto;
  left: 20px;
  content: '\f104';
}

.rtl .entry-case-study-details td:first-child {
  text-align: right;
}

.rtl .entry-case-study-details td:last-child {
  text-align: left;
}

.rtl .case-study-nav-links .prev a {
  padding-left: 0;
  padding-right: 36px;
}

.rtl .case-study-nav-links .prev img {
  margin-right: 0;
  margin-left: 28px;
}

.rtl .case-study-nav-links .prev h6:before {
  content: '\f105';
  left: auto;
  right: 0;
}

.rtl .case-study-nav-links .next {
  text-align: left;
}

.rtl .case-study-nav-links .next a {
  padding-left: 36px;
  padding-right: 0;
}

.rtl .case-study-nav-links .next img {
  margin-left: 0;
  margin-right: 28px;
}

.rtl .case-study-nav-links .next h6:before {
  content: '\f104';
  right: auto;
  left: 0;
}

.rtl.woocommerce .shop-view-switcher {
  margin: 0 30px 0 -10px;
}

.rtl.woocommerce .archive-shop-actions .shop-filter-right {
  padding-left: 0;
  padding-right: 15px;
}

.rtl.woocommerce .archive-shop-actions .shop-filter-left {
  padding-left: 15px;
  padding-right: 0;
}

.rtl.woocommerce nav.woocommerce-pagination ul li span.prev:before, .rtl.woocommerce nav.woocommerce-pagination ul li a.prev:before {
  margin-right: 0;
  margin-left: 8px;
  content: '\f324';
}

.rtl.woocommerce nav.woocommerce-pagination ul li span.next:after, .rtl.woocommerce nav.woocommerce-pagination ul li a.next:after {
  margin-right: 8px;
  margin-left: 0;
  content: '\f323';
}

.rtl.woocommerce .product-badges {
  left: auto;
  right: 10px;
}

.rtl.woocommerce-cart .shop_table th, .rtl.woocommerce-cart .shop_table td {
  text-align: right;
}

.rtl.woocommerce-checkout .checkout_coupon .form-row {
  float: right !important;
}

.rtl.woocommerce-checkout .checkout_coupon .form-row.form-row-first {
  padding-left: 10px;
  padding-right: 0;
}

.rtl.woocommerce-checkout .checkout_coupon .form-row.form-row-last {
  padding-left: 0;
  padding-right: 10px;
}

.rtl.woocommerce-checkout .shop_table th, .rtl.woocommerce-checkout .shop_table td {
  text-align: right;
}

.rtl .mini-cart .widget_shopping_cart_content {
  left: 0;
  right: auto;
}

.rtl .mini-cart .cart_list.product_list_widget li .remove {
  float: left;
}

.rtl .mini-cart .cart_list.product_list_widget li img {
  float: right !important;
}

.rtl .cart_list.product_list_widget li img {
  float: right !important;
}

.rtl .widget_shopping_cart_content .total .amount {
  float: left;
}

.rtl .woocommerce-tabs .tabs li {
  margin: 0 0 0 55px;
}

.rtl .product_list_widget li img {
  margin-left: 20px;
  margin-right: 0;
}

.rtl .woocommerce-widget-layered-nav-list a {
  padding: 16px 0 16px 30px;
}

.rtl .woocommerce-widget-layered-nav-list .count {
  right: auto;
  left: 0;
}

.rtl .tm-accordion.style-01 .accordion-icon {
  right: 0;
  left: 30px;
}

.rtl .tm-accordion.style-01 .accordion-icon:before {
  content: '\f107';
  right: auto;
  left: 0;
}

.rtl .tm-blog .post-author img {
  margin-right: 0;
  margin-left: 6px;
}

.rtl .tm-blog .meta-icon {
  margin-right: 0;
  margin-left: 7px;
}

.rtl .tm-blog .post-read-more.style-link a:after {
  margin-left: 0;
  margin-right: 6px;
  content: '\f177';
}

.rtl .tm-blog.style-list-small-image-02 .post-feature {
  margin-right: 0;
  margin-left: 29px;
}

.rtl .tm-blog.style-list-small-image-02 .grid-item {
  border-left: 0;
  border-right: 1px solid #ededed;
  padding: 20px 30px 20px 0;
}

.rtl .tm-box-icon.style-02 .icon, .rtl .tm-box-icon.style-03 .icon, .rtl .tm-box-icon.style-04 .icon {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .tm-box-icon.style-05 .icon {
  right: auto;
  left: -10px;
}

.rtl .tm-box-image.style-03 .images, .rtl .tm-box-image.style-08 .images, .rtl .tm-box-image.style-09 .images {
  margin-right: 0;
  margin-left: 30px;
}

.rtl .tm-button.style-flat.icon-left .button-icon {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .tm-button.style-flat.icon-right .button-icon {
  margin-right: 10px;
  margin-left: 0;
}

.rtl .tm-button.style-image-text.icon-right img {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .tm-button.style-image-text.icon-left img {
  margin-right: 10px;
  margin-left: 0;
}

.rtl .tm-case-study.style-carousel .btn .btn-icon {
  margin-left: 0;
  margin-right: 4px;
}

.rtl .tm-circle-progress-chart.style-01 .chart {
  margin-left: 0;
  margin-right: 8px;
}

.rtl .tm-circle-progress-chart.style-01 .chart canvas {
  left: auto;
  right: 0;
}

.rtl .tm-circle-progress-chart.style-01 .inner-content {
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.rtl .tm-circle-progress-chart.style-02 .chart {
  margin-left: 0;
  margin-right: 8px;
}

.rtl .tm-circle-progress-chart.style-02 .chart canvas {
  left: auto;
  right: 0;
}

.rtl .tm-circle-progress-chart.style-02 .inner-content {
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.rtl .tm-circle-progress-chart.style-02 .chart-info {
  text-align: right;
  margin-left: 0;
  margin-right: 35px;
}

.rtl .tm-circle-progress-chart.style-02 .circle-design.one {
  left: auto;
  right: 0;
}

.rtl .tm-circle-progress-chart.style-02 .circle-design.two {
  left: 0;
  right: auto;
}

.rtl .tm-counter.align-left .number-wrap {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rtl .tm-counter.align-center .number-wrap {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rtl .tm-counter.align-right .number-wrap {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rtl .tm-counter.style-03 .icon {
  margin-right: 0;
  margin-left: 20px;
}

.rtl .tm-heading.link-style-02 a:after {
  margin-left: 0;
  margin-right: 10px;
}

.rtl .tm-list.align-right .marker {
  float: right;
}

.rtl .tm-list.align-right.tm-list.style-normal .link, .rtl .tm-list.align-right.tm-list.style-separator .link {
  float: right;
}

.rtl .tm-list.align-right.style-check .list-item {
  padding-left: 0;
  padding-right: 32px;
}

.rtl .tm-list.align-right.style-check .marker:before {
  left: auto;
  right: 0;
}

.rtl .tm-list.align-right.style-check-02 .list-item {
  padding-left: 0;
  padding-right: 40px;
}

.rtl .tm-list.align-right.style-check-02 .marker:before {
  left: auto;
  right: 0;
}

.rtl .tm-list.align-right.style-circle .list-item {
  padding-left: 0;
  padding-right: 14px;
}

.rtl .tm-list.align-right.style-circle .marker:before {
  left: auto;
  right: 0;
}

.rtl .tm-message-box {
  padding: 27px 50px 27px 30px;
}

.rtl .tm-message-box .icon {
  left: auto;
  right: 20px;
}

.rtl .tm-popup-video.style-button-02 .video-text {
  margin-left: 0;
  margin-right: 60px;
}

.rtl .tm-popup-video.style-button-03 .video-text {
  margin-left: 0;
  margin-right: 35px;
}

.rtl .tm-popup-video.style-button-04 .video-text {
  margin-left: 0;
  margin-right: 10px;
}

.rtl .tm-popup-video.style-button-05 .video-text {
  margin-left: 0;
  margin-right: 23px;
}

.rtl .tm-pricing.style-01 .tm-pricing-list {
  text-align: right;
}

.rtl .tm-pricing.style-01 .tm-pricing-list li {
  padding: 7px 31px 7px 0;
}

.rtl .tm-pricing.style-01 .tm-pricing-list li:before {
  left: auto;
  right: 0;
}

.rtl .tm-problem-solution .problem {
  padding-left: 0;
  padding-right: 32px;
}

.rtl .tm-problem-solution .problem:before {
  left: auto;
  right: 0;
}

.rtl .tm-problem-solution .solution {
  padding-left: 0;
  padding-right: 32px;
}

.rtl .tm-problem-solution .solution:before {
  left: auto;
  right: 0;
}

.rtl .tm-product.style-grid .product-info {
  text-align: right;
}

.rtl .tm-product.style-grid .product-actions {
  padding-right: 0;
  padding-left: 11px;
}

.rtl .tm-product.style-grid .woocommerce_loop_add_to_cart_wrap a:before {
  left: auto;
  right: 0;
}

.rtl .tm-product.style-grid .woocommerce_loop_add_to_cart_wrap a:hover {
  padding-left: 0;
  padding-right: 35px;
}

.rtl .tm-product.style-grid .woocommerce_loop_add_to_cart_wrap a:hover:before {
  right: 15px;
  left: auto;
}

.rtl .tm-product.style-list .product-info {
  padding-left: 0;
  padding-right: 34px;
}

.rtl .tm-product.style-list .product-action {
  margin-right: 0;
  margin-left: 16px;
  margin-bottom: 10px;
}

.rtl .tm-social-networks.style-icon-title .link-icon {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .tm-testimonial.style-carousel .post-thumbnail {
  margin-right: 0;
  margin-left: 30px;
}

.rtl .tm-testimonial.style-carousel-02 .testimonial-main-info {
  margin-left: 0;
  margin-right: 20px;
}

.rtl .tm-timeline.style-01 .timeline-feature > .inner {
  text-align: left;
}

.rtl .tm-timeline.style-01 .timeline-info > .inner {
  float: left;
}

.rtl .tm-timeline.style-01 .item:nth-child(odd) .timeline-feature > .inner {
  text-align: right;
  float: left;
}

.rtl .tm-timeline.style-01 .item:nth-child(odd) .timeline-info > .inner {
  float: right;
}

.rtl .tm-timeline.style-01 .item:nth-child(odd) .timeline-info .content-wrap {
  text-align: left;
}

.rtl .vc_progress_bar.style-01 .vc_single_bar_title .vc_label_units {
  float: left;
  right: auto;
  left: -40px;
}

.rtl .vc_progress_bar.style-01 .vc_general.vc_single_bar .vc_bar:before, .rtl .vc_progress_bar.style-01 .vc_general.vc_single_bar .vc_bar:after {
  left: -4px;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rtl .vc_progress_bar.style-02 .vc_general.vc_single_bar .vc_bar .vc_label_units, .rtl .vc_progress_bar.style-03 .vc_general.vc_single_bar .vc_bar .vc_label_units {
  right: auto;
  left: 8px;
}

/*# sourceMappingURL=assets/scss/sourcemap/style-rtl.css.map */
