.rtl {
	&.desktop-menu {
		.toggle-sub-menu {
			margin-left: 0;
			margin-right: 15px;
			&:before {
				right: auto;
				left: 0;
			}
		}
		.sm, .sm ul, .sm li {
			text-align: right;
			direction: rtl;
		}

	}
}
