.rtl {
	blockquote,
	q {
		quotes: "" "";

		&:before,
		&:after {
			content: "";
		}
	}

	blockquote {
		margin: 50px 70px 44px 150px !important;
		padding: 2px 20px 2px 0;
		border-left: 0;
		border-right: 4px solid #eee;
	}
}
